@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    max-width: 1056px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    nav {
        text-align: center;
    }

    nav ul {
        list-style: none;
    }

    nav li {
        padding: 0.5rem 2rem;
    }

    nav li a {
        text-decoration: none;
        color: #000000;
        font-size: 1rem;
        font-family: "Bebas Neue", sans-serif;
        text-transform: capitalize;

    }
}